package net.nosegrind.apiframework


import java.io.Serializable;
import java.util.Date;


class Role implements Serializable {

	static transactional = true
	String authority

	static constraints = {
		authority blank: false, unique: true
		rateLimit blank: false
	}
	

	static mapping = {
		version false
	}


}
